/* home */
#hero-heading {
  font-size: 0.9rem;
  line-height: 1.3rem;
}

#hero-heading h2 {
  margin-top: 1.2rem;
  margin-bottom: 0.3rem;
}

#hero-heading ul {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

#hero-heading p {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

/* global link styling */
a:hover {
  color: #0f1cd5 !important;
}

/* hero heading links */
#hero-heading a {
  color: #0f1cd5;
  text-decoration: none;
}

#hero-heading a:hover {
  text-decoration: underline;
}

/* navbar links */
.navbar a:hover {
  color: #0f1cd5 !important;
}

.navbar a.active {
  color: #0f1cd5 !important;
}

.navbar .nav-link.active {
  color: #0f1cd5 !important;
}

/* sidebar links */
.sidebar a:hover {
  color: #0f1cd5 !important;
}

/* footer links */
.page-footer a {
  text-decoration: none;
}

.page-footer a:hover {
  color: #0f1cd5;
  text-decoration: underline;
}
